<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resource/css/style.css">
    <link rel="stylesheet" href="resource/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="ie-only.css" />
        <link rel="stylesheet" href="resource/font-awesome/css/font-awesome.min.css">
</head>
<body>
  
        <% if(login){ %>
            <nav class="navbar navbar-dark bg-dark text-info">
                <h1> Tickets</h1>
            </nav>
        
            <div class="login-form">
                <form action="/tick" method="POST">
        
                <label for="TiTipo"> Tipo de proyecto</label>
        <div>
                    <input type="text" name="TiTipo" id="TiTipo" required>
            
        </div>        <label for="TiAsunto">Asunto</label>
        <div>
                    <input type="text" name="TiAsunto" id="TiAsunto" required>
            
        </div>        <label for="TiEstado">Estado</label>
                <div>
                    <select name="TiEstado" id="TiEstado" class="select-css">
                    <option value="Activo" >Activo</option>
                    <option value="En Proceso" >En Proceso</option>
                    <option value="Finalizado" >Finalizado</option>
                    </select>
                    </div>
                    <div style="display: inline;">
                        <a href="/" class="btn-atras"><i class="fa fa-arrow-left fa-2x"></i></a> 
                        <input type="reset" value="Reset" class="btn-cancel"> <input type="submit" value="Save" class="btn-save">             
                     </div>
                </form>

            </div>

            <table>
                <thead>
                    <tr>
                        <th>N</th>
                        <th>Tipo de proyecto</th>
                        <th>Asunto</th>
                        <th>Estado</th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                        <% if(data){ %>
                            <% for (var i=0; i < data.length; i++){ %>
                                <tr>
                                    <td><%= (i + 1)%></td>
                                    <td><%= data[i].TiTipo%></td>
                                    <td><%= data[i].TiAsunto%></td>
                                    <td><%= data[i].TiEstado%></td>
                                    <td>
                                    <a href="/tickets/<%= data[i].TiId%>" style="color:#990000"> <i class="fa fa-trash"></i></a>
                                        
                                        <a href="/edit" style="color:#cec000"><i class="fa fa-edit"></i></a>
                                    </td>
                                 
                                </tr>
                            <%} %>
                    <%   } %>
                </tbody>
            </table>
        
        
        <% }else{ %>
            <p><strong><%= name%></strong></p>
            <a href="login" class="btn-inicio">Ir al LOGIN</a>
        <%} %>
        

  

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (typeof alert != "undefined") { %>
       <script>
          Swal.fire({
             icon: '<%= alertIcon %>',
            title: '<%= alertTitle%>',
             text: '<%= alertMessage%>',
             timer: <%= timer%>,
            showConfirmButton: <%= showConfirmButton%>, 
            }).then(()=>{
                window.location= '/<%= ruta%>'
            })
       </script>
      <% } %>
</body>
</html>